<!DOCTYPE html>
<html>
<head>
  <title>MattOehrlein.com</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="google-site-verification" content="2FhNXvwQhicWEVweV0hdlyeHaeW6Xit7IbAICfLJaAk" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <META name="description" content="Matt Oehrlein"/>
  <meta property="og:url" content="http://www.mattoehrlein.com/"/>
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Matt Oehrlein" />
  <meta property="og:description" content="Matt Oehrlein" />
  <meta property="og:image" content="<%= image_url 'mattbackground.jpg'%>" />
  <meta property="og:site_name" content="MattOehrlein.com" />
  <meta name="twitter:card" content="Matt Oehrlein" />
  <meta name="twitter:site" content="@mattoehrlein" />

  <%= render 'layouts/shim' %>
  <%= favicon_link_tag 'favicon.ico' %>
  
</head>
<body>

<%= render 'layouts/header' %>
<%= yield %>
<%= render 'layouts/footer' %>

</body>
</html>
